# このファイルを .env にコピーして、各自の値を設定してください
# cp .env.example .env
PORT=3000
UMIKAISEI_EMAIL=あなたの海快晴ログインID
UMIKAISEI_PASSWORD=あなたの海快晴パスワード
UMIKAISEI_URL=https://www.umikaisei.jp/pointsearch/detail.php?pinpoint=01170052
YAHOO_URL=https://weather.yahoo.co.jp/weather/jp/14/4610/14301.html
HAYAMA_LAT=35.27
HAYAMA_LON=139.58
